/* Styling for Map from Open Layers */
@import "node_modules/ol/ol.css";
.map {
  width: 100%;
  height: 50vh;
  border-radius: 20px;
  margin-bottom: 20px;
}
/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px 0px;
  min-height: 100vh;
  background-color: #f5f5f5;
  animation: slideIn 1s linear;
}
input,
button {
  outline: none;
  border: none;
}
.header {
  color: black;
  text-align: center;
  margin-top: 1rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  animation: fadeIn 2s ease-in-out;
}
.input-section {
  display: flex;
  align-items: center;
  gap: 0px;
  width: clamp(90vw, 50vw, 30vw);
  margin: 30px auto;
  height: clamp(40px, 60px, 80px);
}
.input {
  height: 100%;
  padding: 10px;
  font-size: clamp(0.8em, 1.2em, 1.5em);
  width: 100%;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid gray;
  color: black;
  background: none;
  backdrop-filter: blur(10px);
  animation-delay: 1s;
  animation: leftRight 0.5s linear;
}
.input:focus,
.input:focus-within {
  outline: none;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 100%;
  background-color: black;
  border: 1px solid gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  animation-delay: 1s;
  animation: rightLeft 0.5s linear;
}
.icon:active {
  transform: scale(0.9);
}
.svg {
  color: white;
  width: 2.5rem;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px;
  text-align: center;
  border: 2px solid black;
  width: clamp(90vw, 50vw, 30vw);
  margin: auto;
  color: black;
  background-color: white;
  border-radius: 15px;
  animation: fadeIn 2s ease-in-out;
}
.output {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: clamp(80vw, 20vw, 10vw);
  gap: 10px;
}
.output h1 {
  font-size: clamp(0.9em, 1.5em, 2em);
  text-decoration: underline;
  color: gray;
}
.output p {
  font-size: clamp(0.9em, 1.5em, 2.5em);
  font-weight: 900;
}
.footer {
  max-width: clamp(90vw, 50vw, 30vw);
  margin-top: 10px;
  font-size: clamp(0.7em, 0.8em, 0.9em);
  animation: fadeIn 3s ease-in-out;
}
/* Darkmode support */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #050505;
  }
  .header {
    color: white;
  }
  .input {
    color: white;
  }
  .section {
    border: 2px solid white;
    background-color: black;
    color: white;
  }
  .footer {
    color: white;
  }
}
/* Responsive Styling */
@media (min-width: 815px) {
  .section {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 30px;
  }
}
/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes leftRight {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes rightLeft {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0px);
  }
}
