*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    padding: auto;
    width: 800px;
    background-image: radial-gradient(cadetblue,cyan);
}
.input{
   margin-top: 3em;
   margin-left: 30%;
   padding: 1.5em;
   border-radius: 15px;
   width: 37%;
   position: relative;
}
 .icon{
    width: 4rem;
    height: 3.5rem;
    position: absolute;
    top: 0;
    margin-left: 29.5em;
    margin-top: 2.6rem;
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -10px 0 -15px -5px #fff;
 }
 .svg{
   color: white;
   width: 2.5rem;
   margin-left: 1rem;
   margin-top: 0.5rem;
 }